<br>
<div class="card border-info rounded shadow p-3 mb-5 bg-white">
  <div class="card-body">
    <h6>Commenter: <%= comment.commenter %></h6>
      <%= comment.body %>
    <p></p>
    <p>
      <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: "Are you sure?" },
                :class => 'btn btn-danger btn-sm' %>
    </p>
  </div>
</div>
