<nav class="navbar navbar-expand-sm bg-light shadow-sm p-3 mb-5 bg-white rounded">
  <a class="navbar-brand" href="/">Rails Blog</a>
    <ul class="navbar-nav ml-auto">
      <li  class="nav-item">
        <% if user_signed_in? %>
          <%= current_user.email %>
          <%= link_to 'Log_out', destroy_user_session_path, method: :delete, class: 'btn btn-light'  %>
        <% else %>
          <%= link_to 'Log in', destroy_user_session_path, method: :delete, class: 'btn btn-light' %>
          <%= link_to 'Sign up', destroy_user_session_path, method: :delete, class: 'btn btn-light' %>
        <% end %>
      </li>     
  </ul>
</nav>
